@font-face {
    font-family: "Integral";
    src: url(/assets/fonts/Fontspring-DEMO-integralcf-regular.otf);
}

@font-face {
    font-family: "Satoshi";
    src: url(/assets/fonts/Satoshi-Medium.otf);
}